{% extends 'bases/home_base.html' %}

{% block content %}

	<!-- Page top section -->
	
	<section class="page-top-section set-bg" data-setbg="{{ house.image.url }}" style="height: 45%;">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="page-top-text text-white">
						<h2 style="margin-top: -130px;">Detail</h2>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Property details section -->
	    <section class="property-details-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <div class="property-details">
                            <h2>{{ house.titre }}</h2>
                            {% for inf in house.house_info.all %}
                            {% if forloop.counter  %} 
                            <div class="property-info">
                                <h6>{{ inf.titre }}</h6>
                                <div class="pi-icon">
                                    <i class="{{ inf.icon }}"></i>
                                    <span>{{ inf.noumbre }}</span>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <p>{{ house.description }}</p>
                    </div>
                    <div class="col-xl-6 col-lg-5 text-lg-right text-left" >
                        <div class="property-price" >
                            <h2>{{ house.prix }}</h2>
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-xl-3 col-lg-3"></div>
                    <div class="col-xl-6 col-lg-7">
                        <img src="{{ house.image_accueil.url }}" alt="">
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div>
                        {{ house.description }}{{ house.description }}{{ house.description }}{{ house.description }}
                        {{ house.description }}{{ house.description }}{{ house.description }}{{ house.description }}
                        {{ house.description }}{{ house.description }}{{ house.description }}{{ house.description }}
                        {{ house.description }}{{ house.description }}{{ house.description }}{{ house.description }}
                        {{ house.description }}{{ house.description }}{{ house.description }}{{ house.description }}
                    </div>
                </div>
            </div>
        </section>
        <!-- Property details section end -->

    

{% endblock %}